@model RPG_Remix.Models.Fachada.UsuarioEntrar

@{
    string msgEnt = "";
    if (ViewBag.MsgCadastro != null)
    {
        if (ViewBag.MsgCadastro.Contains("Erro"))
        {
            msgEnt = "<ul><li><span class='text-form text-danger'>" + ViewBag.MsgCadastro + "</span></li></ul>";
        }
        else
        {
            msgEnt = "<ul><li><span class='text-form text-primary'>" + ViewBag.MsgCadastro + "</span></li></ul>";
        }
    }
}

<div id="frame">
    <div class="large-ocean">
        <div class="estrutura">
            <div class="conteudo borda">
                <div class="conteudo">
                    <fieldset>
                        <legend>Entrada</legend>
                        @using (Html.BeginForm("Entrar", "Entrada", FormMethod.Post))
                        {
                            @*@Html.ValidationSummary()*@
                            @msgEnt
                            <div class="form-group">
                                <label class="control-label" for="Email"><span class="text-form">E-mail</span> <span class="text-danger">*</span> @Html.ValidationMessageFor(model => model.Email)</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "exemplo@email.com" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Senha"><span class="text-form">Senha</span> <span class="text-danger">*</span> @Html.ValidationMessageFor(model => model.Senha)</label>
                                @Html.TextBoxFor(model => model.Senha, new { type = "password", @class = "form-control", placeholder = "*********" })
                            </div>
                            <button type="submit" class="btn btn-block btn-flat-no-radius btn-primary">ENTRAR</button>
                            <hr />
                        }
                        <div class="text-right">
                            @Ajax.ActionLink("CADASTRE-SE", "Cadastrar", null, new AjaxOptions { UpdateTargetId = "frame" }, new { @class = "btn btn-xs btn-block btn-success" })
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
