<!DOCTYPE html>
<html>
<head>
    <title>RPG - Remix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="~/Content/Bootstrap/bootstrap-scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/bootstrap-scripts/bootstrap.min.js"></script>
    <link href="~/Content/Bootstrap/bootstrap-css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="parallax" id="ovelha" data-spy="scroll">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
