@model List<RPG_Remix.Models.Ficha>

<div class="scrollable">
    <div class="div-padding-top">
        <h3 class="panel panel-head">Suas Fichas</h3>
        <div class="div-table">
            <div class="panel panel-object col-md-2 col-sm-2">
                <form>
                    <h5>
                        <label for="prenome" class="hidden-xs">Novo Personagem</label>
                        <input type="text" class="form-control" id="prenome" name="nome" placeholder="nome do personagem" />
                    </h5><br />
                    <a class="btn btn-xs btn-default btn-block" onclick="submit('GET', 'Fichas', 'NovaFicha')">CRIAR NOVA FICHA</a>
                </form>
            </div>
            @foreach (var f in @Model)
            {
                if (f.UsuarioId == ((RPG_Remix.Models.Usuario)Session["usuario"]).Id)
                {
                    <div class="panel panel-object col-md-2 col-sm-2">
                        <h5>@f.Nome</h5>
                        <h6>adre: @f.Adre ataq: @f.Ataq defe: @f.Defe dest: @f.Dest forç: @f.Forc inte: @f.Inte resi: @f.Resi sabe: @f.Sabe velo: @f.Velo</h6>
                        <hr class="hidden-xs" />
                        <div class="btn-group btn-group-justified">
                            <div class="btn btn-xs btn-primary">Ver</div>
                            <div class="btn btn-xs btn-default">Editar</div>
                        </div>
                    </div>
                }
            }
        </div>
        <h4 class="panel panel-head">Fichas de Conhecidos</h4>
        <div class="div-table">
            @foreach (var f in @Model)
            {
                if (f.UsuarioId != ((RPG_Remix.Models.Usuario)Session["usuario"]).Id)
                {
                    <div class="panel panel-object col-md-2 col-sm-2">
                        <h5>@f.Nome</h5>
                        <label>@f.Usuario.Nome</label>
                        <h6>adre: @f.Adre ataq: @f.Ataq defe: @f.Defe dest: @f.Dest forç: @f.Forc inte: @f.Inte resi: @f.Resi sabe: @f.Sabe velo: @f.Velo</h6>
                        <div class="btn-group btn-group-justified">
                            <div class="btn btn-xs btn-primary">Ver</div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div id="novaficha" class="modal fade mothal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Nova Ficha</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>