@model RPG_Remix.Models.Fachada.FichaCriar

<div class="scrollable">
    <div class="div-padding-top">
        <h3 class="panel panel-head">Nova Ficha</h3>
        <div class="panel panel-head form-inline">
            <h5>Escolha o Nível do Personagem</h5>
            <ul class="radios">
                <li class="radio" title="Dado de 6 Faces">
                    <input type="radio" name="nivel" value="6" id="6" onchange="calcPts(this.value)" />
                    <label for="6">D6</label>
                </li>
                <li class="radio" title="Dado de 8 Faces">
                    <input type="radio" name="nivel" value="8" id="8" onchange="calcPts(this.value)" />
                    <label for="8">D8</label>
                </li>
                <li class="radio" title="Dado de 10 Faces">
                    <input type="radio" name="nivel" value="10" id="10" onchange="calcPts(this.value)" />
                    <label for="10">D10</label>
                </li>
                <li class="radio" title="Dado de 12 Faces">
                    <input type="radio" name="nivel" value="12" id="12" onchange="calcPts(this.value)" />
                    <label for="12">D12</label>
                </li>
                <li class="radio" title="Dado de 14 Faces">
                    <input type="radio" name="nivel" value="14" id="14" onchange="calcPts(this.value)" />
                    <label for="14">D14</label>
                </li>
                <li class="radio" title="Dado de 16 Faces">
                    <input type="radio" name="nivel" value="16" id="16" onchange="calcPts(this.value)" />
                    <label for="16">D16</label>
                </li>
                <li class="radio" title="Dado de 18 Faces">
                    <input type="radio" name="nivel" value="18" id="18" onchange="calcPts(this.value)" />
                    <label for="18">D18</label>
                </li>
                <li class="radio" title="Dado de 20 Faces">
                    <input type="radio" name="nivel" value="20" id="20" onchange="calcPts(this.value)" />
                    <label for="20">D20</label>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" name="Nivel" id="Nivel" />
                <div class="form-group-lg text-right form-inline fix-top">
                    TESTES <input type="text" id="ptsTest" disabled class="ptsAcum" />
                    PECULIARIDADES <input type="text" id="ptsPecs" disabled class="ptsAcum" />
                </div>
                <fieldset class="panel-form col-md-12">
                    <legend class="text-whitesmoke">Dados do Personagem</legend>
                    <div class="form-group-sm col-md-6">
                        <label for="Nome" class="text-high">NOME</label> <label><span class="text-danger">*</span> @Html.ValidationMessageFor(model => model.Nome)</label>
                        @Html.TextBoxFor(model => model.Nome, new { value = @Session["nome"], placeholder = "nome do personagem", @class = "form-control" })
                    </div>
                    <div class="form-group-sm col-md-1">
                        <label for="Idade" class="text-high">IDADE</label>
                        @Html.TextBoxFor(model => model.Idade, new { placeholder = "0", type = "number", min = "0", @class = "form-control", style = "width: 60px" })
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label for="Raca" class="text-high">RAÇA</label>
                        @Html.TextBoxFor(model => model.Raca, new { placeholder = "raça do personagem", @class = "form-control" })
                    </div>
                    <div class="form-group-sm col-md-2">
                        <label for="Classe" class="text-high">CLASSE</label>
                        @Html.TextBoxFor(model => model.Classe, new { placeholder = "classe do personagem", @class = "form-control" })
                    </div>
                </fieldset>
                <fieldset class="panel-form col-md-4 col-sm-4 pwidth">
                    <legend class="text-whitesmoke">Testes Físicos e Místicos</legend>
                    <div class="col-md-5">
                        <div class="form-group-sm form-inline group-test">
                            <label for="Adre" class="text-high label-test" title="Adrenalina">ADRE</label>
                            @Html.TextBoxFor(model => model.Adre, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Ataq" class="text-high label-test" title="Ataque">ATAQ</label>
                            @Html.TextBoxFor(model => model.Ataq, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Defe" class="text-high label-test" title="Defesa">DEFE</label>
                            @Html.TextBoxFor(model => model.Defe, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Dest" class="text-high label-test" title="Destreza">DEST</label>
                            @Html.TextBoxFor(model => model.Dest, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Forc" class="text-high label-test" title="Força">FORÇ</label>
                            @Html.TextBoxFor(model => model.Forc, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Inte" class="text-high label-test" title="Inteligência">INTE</label>
                            @Html.TextBoxFor(model => model.Inte, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Resi" class="text-high label-test" title="Resistência">RESI</label>
                            @Html.TextBoxFor(model => model.Resi, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Sabe" class="text-high label-test" title="Sabedoria">SABE</label>
                            @Html.TextBoxFor(model => model.Sabe, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Velo" class="text-high label-test" title="Velocidade">VELO</label>
                            @Html.TextBoxFor(model => model.Velo, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)" })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group-sm form-inline group-test">
                            <label for="Vital" class="text-high label-test" title="Vitalidade">VITAL</label>
                            @Html.TextBoxFor(model => model.Vital, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test", style = "width: 60px", onchange = "calcPtsTest(this.id)", disabled = "true" })
                        </div>
                        <div class="form-group-sm form-inline group-test">
                            <label for="Sort" class="text-high label-test" title="Sorte (clique para sortear a sorte do personagem)">SORT</label>
                            @Html.TextBoxFor(model => model.Sort, new { placeholder = "1", type = "number", min = "0", @class = "form-control input-test pin-none", style = "width: 60px", onfocus = "sort(this.id)" })
                        </div>
                    </div>
                </fieldset>
                <fieldset class="panel-form col-md-4 col-sm-4 pwidth">
                    <legend class="text-whitesmoke">Capacidades</legend>
                    <div class="btn-border">
                        <div title="Adicionar uma capacidade!" class="btn btn-default btn-block btn-pecu" onclick="maisCap()"><i class="fa fa-plus"></i></div>
                    </div>
                    <div id="caps"></div>
                </fieldset>
                <fieldset class="panel-form col-md-4 col-sm-4 pwidth">
                    <legend class="text-whitesmoke">Perícias</legend>
                    <div class="btn-border">
                        <div title="Adicionar uma perícia!" class="btn btn-default btn-block btn-pecu" onclick="maisPer()"><i class="fa fa-plus"></i></div>
                    </div>
                    <div id="pers"></div>
                </fieldset>
                <fieldset class="panel-form col-md-4 col-sm-4 pwidth">
                    <legend class="text-whitesmoke">Desvantagens</legend>
                    <div class="btn-border">
                        <div title="Adicionar uma desvantagem!" class="btn btn-default btn-block btn-pecu" onclick="maisDes()"><i class="fa fa-plus"></i></div>
                    </div>
                    <div id="desv"></div>
                </fieldset>
                <fieldset class="panel-form col-md-8 col-sm-8 pwidth">
                    <legend class="text-whitesmoke">Mesa/Mapa</legend>
                    <div class="form-group-sm col-md-6">
                        @Html.Action("Select_ListMesas", "Utils")
                        <input type="text" name="mesa.Nome" id="mesaNome" class="form-control col-md-8" placeholder="nome da mesa" style="margin-top: 14px; margin-bottom: 14px" />
                        <div class="form-inline">
                            <label for="mesa.NumeroJogadores" class="text-high">Número de Jogadores </label>
                            <input type="number" name="mesa.NumeroJogadores" id="mesaNumeroJogadores" class="form-control" style="width: 60px" min="1" value="1" />
                        </div>
                    </div>
                    <div class="form-group-sm col-md-6">
                        @Html.Action("Select_ListMestres", "Utils")
                        <textarea name="mesa.Descricao" id="mesaDescricao" class="form-control" rows="2" placeholder="descrição da mesa" style="margin-top: 14px"></textarea>
                    </div>
                    <div class="form-group-sm col-md-6 text-center">
                        <label class="btn btn-default btn-block btn-lg btn-file " onchange="loadFile(event)" style="margin-top: 80px;">
                            Adicionar Mapa<input type="file" readonly="" id="Mapa" name="Mapa" style="display: none" />
                        </label>
                    </div>
                    <div class="form-group-sm col-md-6 text-center">
                        <img id="imgMapa" style="border: 0 none transparent; margin-top: 14px; width: 330px; height: 200px" /> 
                    </div>
                </fieldset>
                <div class="btn btn-danger btn-submit text-left" style="position: absolute; bottom: 12px; left: 3%" onclick="loadPage('Fichas', 'Fichas')">Cancelar</div>
                <a class="btn btn-success btn-submit text-right" id="submiter" style="position: absolute; bottom: 12px; right: 3%;" onclick="submit('POST', 'Fichas', 'NovaFicha')" disabled>CRIAR ESSA FICHA</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}