@model RPG_Remix.Models.Fachada.UsuarioEntrar

@{
    string type = "";
    if (ViewBag.MsgEntrada != null)
    {
        if (ViewBag.MsgEntrada.Contains("Sucesso"))
        {
            type = "text-primary";
        }
        else
        {
            type = "text-danger";
        }
    }
}

<div id="frame">
    <div class="estrutura">
        <div class="conteudo borda">
            <div class="conteudo">
                <fieldset>
                    <legend>Entrada</legend>
                    @using (Html.BeginForm("Entrar", "Entrada", FormMethod.Post))
                    {
                        <div class="text-center loading" id="loading">
                            <img src="~/Content/images/ajax-loader.gif" width="30" /> Carregando...
                        </div>
                        @*@Html.ValidationSummary()*@
                        <div class="text-center"><span class="text-form @type">@ViewBag.MsgEntrada</span></div>
                        <div class="form-group">
                            <label class="control-label" for="Email"><span class="text-form">E-mail</span> <span class="text-danger">*</span> @Html.ValidationMessageFor(model => model.Email)</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "exemplo@email.com" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Senha"><span class="text-form">Senha</span> <span class="text-danger">*</span> @Html.ValidationMessageFor(model => model.Senha)</label>
                            @Html.TextBoxFor(model => model.Senha, new { type = "password", @class = "form-control", placeholder = "*********" })
                        </div>
                        <button type="submit" class="btn btn-block btn-flat-no-radius btn-primary">ENTRAR</button>
                        <hr />
                    }
                    <div class="text-right">
                        @Ajax.ActionLink("CADASTRE-SE", "Cadastrar", null, new AjaxOptions
                            {
                                UpdateTargetId = "frame",
                                LoadingElementId = "loading",
                                OnBegin = "loaderOn",
                                OnSuccess = "loaderOff"
                            }, new { @class = "btn btn-xs btn-block btn-success" })
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
